/*this is for scroll bar to appear dark in electron.*/
:root {
  color-scheme: dark;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.aaaaaaa{
  background-color: black;
  color: white;
}

button {
  background-color: black;
  color: white;
}
button:hover {
  background-color: #929292;
}

.hidden {
  display: none;
}


/* Styles for the floating control panel */
.floating-control-panel {

  width: 70vw;
  border: 1px solid #ccc; /* Optional: Add a border around the panel */
  position: fixed; /* Keeps the panel in a fixed position on the screen */
  bottom: 30px; /* Distance from the bottom */
  right: 30px; /* Distance from the right side */
  background: #000000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
  border-radius: 8px; /* Optional: Rounds the corners for aesthetics */
  z-index: 999; /* Ensures the panel stays above other content */
}


.floating-control-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;

  cursor: pointer;
  z-index: 999;
}

#workflow {
  width: 100%;
  height: 100%;
}







.horizontal-bar {
  display: flex;
  flex-direction: row;        /* Horizontal (default) */
  justify-content: space-between; /* Distribute items across the bar */
  align-items: center;        /* Center items vertically */
  /*background: #4a90e2;*/
  padding: 0.5em 1em;
}

.bar-item {
  /*color: #fff;*/
  padding: 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
  /* Optional for hover effect */
  transition: background 0.2s;
}







